.box {
    height:500px;
    width:500px;
}

a {
    text-decoration:none;
}

.red {
    background-color:red;
    opacity:0.5;
    transition:1s;
}

.blue {
    background-color:blue;
    opacity:0.5;
    transition:1s;
}