html, body {
    height:100%;
}

.jumbotron {
    height:50%;
}

#form-and-table{
    height:200px;
    width:100%;
}

a {
    text-decoration:none;
}

.red {
    background-color:red;
    opacity:0.8;
    transition:0.5s;
    height:100%;
    width:100%;
}

.blue {
    background-color:blue;
    opacity:0.8;
    transition:0.5s;
    height:100%;
    width:100%;
}